@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Signika&display=swap");

:root {
  --border: 3px solid #407ba5;
  --fontgroup: "Signika", sans-serif;
  --primary-color: #2d5069; /* medium blue */
  --secondary-color: #d1cdcf; /* light gray */
  --text-color: #333; /* dark gray */
  --accent-color: #7dc5a3; /* light green */
}


html {
background-color: var(--primary-color);
  margin-left: 60px;
  margin-right: 60px;
}

