@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Signika&display=swap');


:root {
    --sectionsbackground: gainsboro;
    --border: 3px solid rgb(228, 117, 74); 
    --fontgroup: 'Signika', sans-serif;
}



body{
    background-color: rgb(240, 225, 139);
    margin-left: 40px;
    margin-right: 40px;
}